.newContainer {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
}

.newDetails {
    color: #FFFFFF;
    box-shadow: inset 0px 0px 15px 3px #23395e;
    width: 600px;
    padding: 10px;
    border-radius: 15px;
    border: 1px solid #1f2f47;
    font-family: 'Century Gothic';
    font-weight: bold;
}

.title {
    font-size: 30px;
    font-weight: bold;
    margin: 0 0 20px 30px;
    text-shadow: 0 0 5px rgb(216, 255, 247),
        0 0 10px rgb(186, 218, 255),
        0 0 15px rgb(140, 222, 255),
        0 0 10px #18a3ff, 0 0 30px #5218ff,
        0 0 40px #1818ff, 0 0 55px #2f18ff,
        0 0 75px #7c18ff;
    color: #232323;
    text-align: center;
}

#createBtn {
    margin: 20px 0 5px 38%;
    padding: 10px;
    box-shadow: inset 0px 0px 15px 3px #23395e;
    background-color: transparent;
    border-radius: 15px;
    border: 1px solid #1f2f47;
    cursor: pointer;
    color: #FFFFFF;
    font-family: 'Century Gothic';
    font-weight: bold;
    font-size: 15px;
    text-shadow: 0px 1px 0px #263666;
}

#createBtn:focus {
    margin: 20px 0 5px 38%;
    padding: 10px;
    box-shadow: inset 0px 0px 15px 3px #23395e;
    background-color: transparent;
    border-radius: 15px;
    border: 1px solid #1f2f47;
    cursor: pointer;
    color: rgb(187, 17, 17);
    font-family: 'Century Gothic';
    font-weight: bold;
    font-size: 15px;
    text-shadow: 0px 1px 0px #263666;
}
.divDetails{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}
.inputs{
    display: flex;
    flex-direction: column;
    margin-left: 20px;
}
.inputs input{
    margin: 5px 0px;

}
.pContainer p{
    margin: 8.9px 0px;


}
.pInputs{
    margin: 5px 0px;

}
#saveBtn {
    margin: 20px 0 5px 44%;
    padding: 10px;
    box-shadow: inset 0px 0px 15px 3px #23395e;
    background-color: transparent;
    border-radius: 15px;
    border: 1px solid #1f2f47;
    cursor: pointer;
    color: #FFFFFF;
    font-family: 'Century Gothic';
    font-weight: bold;
    font-size: 15px;
    text-shadow: 0px 1px 0px #263666;
}

#saveBtn:focus {
    padding: 10px;
    box-shadow: inset 0px 0px 15px 3px #23395e;
    background-color: transparent;
    border-radius: 15px;
    border: 1px solid #1f2f47;
    cursor: pointer;
    color: rgb(187, 17, 17);
    font-family: 'Century Gothic';
    font-weight: bold;
    font-size: 15px;
    text-shadow: 0px 1px 0px #263666;
}